* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #0C134F;
    padding: 10px;
    margin: 0 0 6px 0;
}

.nav--list {
    display: flex;
    justify-items: center;
    align-items: center;
    list-style: none;
}

a {
    color: #D4ADFC;
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
    padding: 10px;
}
a:hover {
    background: #D4ADFC;
    color: #0C134F;
    font-size: 18px;
    font-weight: 900;
    border-radius: 7px;
    padding: 12px;
}

button {
    width: 100px;
    padding: 7px;
    margin: 5px;
    background: #0C134F;
    color: #D4ADFC;
    border-radius: 5px;
}

button:hover {
    background: #D4ADFC;
    color: #0C134F;
    border-radius: 7px;
    cursor: pointer;
}

input {
    width: 300px;
    padding: 7px;
    margin: 5px;
}

.post, .users--header {
    margin: 8px;
}

.footer {
    background: #0C134F;
    color: #D4ADFC;
    font-size: 18px;
    font-weight: 900;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}